.list {
  width: 100%;
  margin: 0px 0px 25px 0px;
  /* visibility: hidden;
  opacity: 0; */

  transform: translateY(3rem);
  opacity: 0;
  transition: all 0.7s linear;
}

.inView {
  transform: translateY(0rem);
  opacity: 1;
}
