/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.projectsList {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 50px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* Responsive */

@media (max-width: 600px) {
  .projectsList {
    padding: 25px;
  }
}

@media (max-width: 500px) {
  .projectsList {
    padding: 20px;
  }
}
@media (max-width: 400px) {
  .projectsList {
    padding: 15px;
  }
}
