.projectsList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  justify-content: space-between;
}

/* Responsive */

@media (max-width: 600px) {
  .projectsList {
    padding: 25px;
  }
}

@media (max-width: 500px) {
  .projectsList {
    padding: 20px;
  }
}
@media (max-width: 400px) {
  .projectsList {
    padding: 15px;
  }
}
