.projectItem {
  border-radius: 15px;
  width: 49%;
  font-size: 25px;
  height: 100vh;
  margin: 30px 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
  cursor: pointer;
  opacity: 1;
}
.projectItem::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(15, 20, 30, 0.7);
  border-radius: 15px;
}

.projectImage {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.projectItem::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.2s linear;
  border-radius: 15px;
  background: rgba(15, 20, 30, 0.9);
}

.projectItem:hover::before {
  opacity: 1;
}

.projectItemTitles {
  position: relative;
  padding: 50px;
  z-index: 3;
}

.projectItemTitles h2 {
  font-family: "Helvetica Now Display DW", sans-serif;
  font-weight: 800;
  color: #fff;
  font-size: 50px;
  line-height: 65px;
}

.projectItemTitles p {
  font-family: "Helvetica Now Display DW", sans-serif;
  color: #878a8f;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  letter-spacing: 0.04em;
}

.projectItem:hover .projectItemTitles,
.projectItem:hover .projectItemTitles {
  color: white;
  position: relative;
  z-index: 2;
  animation: move 0.2s linear;
}

@keyframes move {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  50% {
    opacity: 0;
    transform: translateY(3rem);
  }
  60% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
