/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.footer {
  padding: 50px 0;
  width: 100%;
}
.footerTopContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footerTopContainer h1 a {
  font-family: "Helvetica Now Display DW", sans-serif;
  font-weight: 800;
  text-align: center;
  letter-spacing: -0.01em;
  color: #0f141e;
  font-size: 60px;
  line-height: 70px;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.footerTopContainer h1 {
  position: relative;
  text-align: center;
  cursor: pointer;
}

.footerTopContainer h1 a {
  opacity: 1;
}

.footerTopContainer h1:after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  height: 3px;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  background-color: black;
}

.footerTopContainer h1:hover::after {
  opacity: 1;
  visibility: visible;
}

.footerTopContainer p {
  font-weight: 400;
  letter-spacing: 0.4em;
  font-size: 0.875rem;
  color: #878a8f;
  line-height: 1.25rem;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 70px;
}

.footerBottomContainer {
  padding-top: 50px;
  width: 100%;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-top: 2px solid rgba(77, 77, 77, 0.1);
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.footerBottomContainer .footer__contact--information,
.footerBottomContainer .footer__latest--projects,
.footerBottomContainer .footer__social--links {
  width: 30%;
  padding: 30px;
}
.footer__titles--blocks {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__titles--blocks h3 {
  font-family: "Helvetica Now Display DW", sans-serif;
  font-weight: bold;
  color: #0f141e;
  font-size: 25px;
  position: relative;
}

.footer__contact--information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.footer__actual--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.footer__actual--content p {
  font-weight: 400;
  color: #878a8f;
  line-height: 1.25rem;
  margin-bottom: 20px;
}
.footer__actual--content h4 {
  line-height: 25px;
}

.footer__actual--content h4 span {
  color: #878a8f;
}

.footer__actual--content h4 a {
  opacity: 1;
  cursor: pointer;
  color: black;
}
.footer__social--links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.footer__latest--projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.social__links--actualContent {
  margin-top: 15px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.social__links--actualContent a {
  padding: 5px 0;
  opacity: 1;
  position: relative;
  color: black;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.latest__projects--actualContent {
  width: 50%;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.latest__projects--actualContent a {
  padding: 5px 0;
  cursor: pointer;
  color: black;
  opacity: 1;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.latest__projects--actualContent a:hover,
.social__links--actualContent a:hover {
  opacity: 0.5;
}

/* Responsive */

@media (max-width: 900px) {
  .footerTopContainer h1 a {
    font-size: 50px;
  }

  .footer__titles--blocks h3 {
    font-size: 22px;
  }

  .latest__projects--actualContent a,
  .social__links--actualContent a {
    font-size: 14px;
  }
  .footer__actual--content p {
    font-size: 14px;
  }

  .footerBottomContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .latest__projects--actualContent {
    width: unset;
  }
  .footer__latest--projects,
  .footer__social--links {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .footerBottomContainer .footer__contact--information,
  .footerBottomContainer .footer__social--links,
  .footerBottomContainer .footer__latest--projects {
    width: 100%;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  color: grey;
  opacity: 0.5;
  margin: 0 auto;
  padding: 15px;
  -webkit-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

.logoImage {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  border: 3px solid grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: bold;
  font-size: 35px;
}

.logo__name {
  padding: 10px;
  color: grey;
}

.logo__name h2 {
  font-size: 18px;
  line-height: 30px;
  color: grey;
  font-weight: bold;
}
.logo__name p {
  font-size: 13px;
  color: grey;
  font-weight: bold;
  letter-spacing: 2px;
}
@media (max-width: 890px) {
  .footer {
    padding: 0px;
  }

  .footerBottomContainer {
    margin-top: 50px;
  }
}

@media (max-width: 770px) {
  .footerTopContainer h1 a {
    line-height: 50px;
    font-size: 35px;
  }
  .footerTopContainer p {
    font-size: 13px;
  }
  .logoImage {
    width: 40px;
    height: 40px;
    font-size: 25px;
  }

  .logo__name h2 {
    font-size: 14px;
    line-height: 25px;
  }
  .logo__name p {
    font-size: 11px;
    line-height: 20px;
  }
}

@media (max-width: 550px) {
  .footerTopContainer p {
    margin-top: 35px;
  }

  .footerTopContainer h1 a {
    line-height: 35px;
    font-size: 30px;
  }
  .footerTopContainer p {
    font-size: 11px;
    letter-spacing: 0.2rem;
  }
}

@media (max-width: 500px) {
  .logoImage {
    width: 35px;
    height: 35px;
    font-size: 22.5px;
  }

  .logo__name h2 {
    font-size: 12px;
    line-height: 25px;
  }
  .logo__name p {
    font-size: 10px;
    line-height: 20px;
  }
}

@media (max-width: 480px) {
  .footerTopContainer h1 a {
    font-size: 25px;
    line-height: 30px;
  }

  .footerTopContainer p {
    font-size: 10px;
    letter-spacing: 0.01;
  }
}

@media (max-width: 380px) {
  .footerTopContainer h1 a {
    font-size: 20px;
    line-height: 25px;
  }

  .footerTopContainer p {
    letter-spacing: 0.007rem;
  }
}
