/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.main__navigation {
  padding: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 13;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  -webkit-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

.logoImage {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  border: 3px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: bold;
  font-size: 35px;
}

.logo:hover {
  opacity: 0.5;
}

.logo__name {
  padding: 10px;
}

.logo__name h2 {
  font-size: 25px;
  line-height: 35px;
  font-weight: bold;
}
.logo__name p {
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 2px;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  -webkit-transition: opacity 0.25s ease-out;
  -o-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out;
}

.nav__menu h3 {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-right: 10px;
  line-height: 25px;
}

.burger__menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.burger {
  width: 30px;
  height: 4px;
  background-color: black;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.burger::before {
  content: "";
  position: absolute;
  top: 1.5rem;
  width: 30px;
  height: 4px;
  background-color: black;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.burger::after {
  content: "";
  position: absolute;
  bottom: 1.5rem;
  width: 30px;
  height: 4px;
  background-color: black;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.burger::before {
  -webkit-transform: translateY(-16px);
  -ms-transform: translateY(-16px);
  transform: translateY(-16px);
}
.burger::after {
  -webkit-transform: translateY(16px);
  -ms-transform: translateY(16px);
  transform: translateY(16px);
}

/* Animation of burger menu */
.nav__menu:hover {
  opacity: 0.5;
}

.burger__menu.burgerOpen .burger {
  -webkit-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  transform: translateX(-50px);
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.burger__menu.burgerOpen .burger::before {
  -webkit-transform: rotate(45deg) translate(35px, -35px);
  -ms-transform: rotate(45deg) translate(35px, -35px);
  transform: rotate(45deg) translate(35px, -35px);
  top: 0;
}
.burger__menu.burgerOpen .burger::after {
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
  -ms-transform: rotate(-45deg) translate(35px, 35px);
  transform: rotate(-45deg) translate(35px, 35px);
  bottom: 0;
}

/* Animations */

.navMenuWhite h3 {
  color: white;
  -webkit-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
}

.navMenuBlack h3 {
  color: black;
  -webkit-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
}

.navMenuWhite .burger__menu .burger::before,
.navMenuWhite .burger__menu .burger::after {
  background-color: white;
}
.navMenuBlack .burger__menu .burger,
.navMenuBlack .burger__menu .burger::before,
.navMenuBlack .burger__menu .burger::after {
  background-color: black;
}
.logoMenuWhite h2,
.logoMenuWhite p {
  color: white;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.logoMenuBlack h2,
.logoMenuBlack p {
  color: black;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.logoMenuWhite .logoImage {
  background-color: transparent;
  border: 3px solid white;
  color: white;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.logoMenuBlack .logoImage {
  background-color: white;
  border: 3px solid black;
  color: black;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

/* Responsive */

@media (max-width: 600px) {
  .logoImage {
    max-width: 40px;
    height: 40px;
    font-size: 28px;
  }

  .logo__name h2 {
    font-size: 20px;
    line-height: 25px;
  }
  .logo__name p {
    font-size: 12px;
    line-height: 20px;
  }
  .nav__menu h3 {
    font-size: 14px;
  }
  .burger__menu {
    width: 35px;
    height: 35px;
  }
  .burger__menu .burger,
  .burger__menu .burger::before,
  .burger__menu .burger::after {
    height: 3px;
  }
}

@media (max-width: 500px) {
  .logoImage {
    max-width: 35px;
    height: 35px;
    font-size: 25px;
  }

  .logo__name h2 {
    font-size: 17px;
    line-height: 20px;
  }
  .logo__name p {
    font-size: 11px;
    line-height: 20px;
  }
  .nav__menu h3 {
    font-size: 12px;
  }

  .burger__menu {
    width: 35px;
    height: 35px;
  }
  .burger__menu .burger,
  .burger__menu .burger::before,
  .burger__menu .burger::after {
    height: 2.5px;
  }

  .burger__menu .burger::after {
    height: 2.5px;
    background-color: whi;
  }
}

@media (max-width: 430px) {
  .logoImage {
    max-width: 30px;
    height: 30px;
    font-size: 20px;
  }

  .logo__name h2 {
    font-size: 15px;
    line-height: 20px;
  }
  .logo__name p {
    letter-spacing: 0;
    line-height: 20px;
  }
  .nav__menu h3 {
    font-size: 11px;
  }
}
@media (max-width: 380px) {
  .main__navigation {
    padding: 10px;
  }
  .logo__name h2 {
    font-size: 13px;
    line-height: 20px;
  }
  .logo__name p {
    letter-spacing: 0;
    line-height: 15px;
  }
  .nav__menu h3 {
    font-size: 11px;
  }
  .logo {
    padding: 2.5px;
  }
  .nav__menu {
    padding: 5px;
  }
}
