/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.projectsMainTitle {
  font-family: "Helvetica Now Display DW", sans-serif;
  font-weight: 800;
  color: #0f141e;
  font-size: 60px;
  line-height: 75px;

  text-align: center;
  margin: 0 auto;

  margin-top: 35px;
}

/* Responsive */

@media (max-width: 800px) {
  .projectsMainTitle {
    font-size: 40px;
    line-height: 50px;
  }
}

@media (max-width: 600px) {
  .projectsMainTitle {
    font-size: 30px;
    line-height: 40px;
    padding: 30px;
  }
}
