.projectDataContainer {
  width: 100%;
  padding: 50px;
}
.projectDataContainerTop {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.projectDataContainerLeft {
  padding: 60px 30px;
}
.projectDataContainerRight {
  width: 50%;
}
.projectDataContainerRight p {
  font-family: "Helvetica Now Display DW", sans-serif;
  color: #878a8f;
  letter-spacing: 0.05em;
  font-size: 25px;
  line-height: 35px;
}

.projectDataContainerRight a {
  opacity: 1;
  color: darkred;
  margin-left: 10px;
}

.projectDataContainerRight {
  padding: 60px 60px 0px 0px;
}

.projectDataContainerLeft p {
  font-family: "Helvetica Now Display DW", sans-serif;
  color: #878a8f;
  line-height: 20px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.projectDataContainerLeft h2 {
  max-width: 500px;
  width: 100%;
  font-family: "Helvetica Now Display DW", sans-serif;
  font-weight: 800;
  color: #0f141e;
  font-size: 40px;
  line-height: 55px;
}

.projectDataImagesContainer {
  width: 100%;
  margin-top: 100px;
}
.projectDataImagesContainerImg {
  width: 100%;
  margin: 20px 0;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.imageNotFound {
  text-align: center;
}

/* Repsonsive */

@media (max-width: 1200px) {
  .projectDataContainerRight p {
    font-size: 18px;
  }
}

@media (max-width: 1095px) {
  .projectDataContainerLeft h2 {
    font-size: 35px;
    line-height: 45px;
  }
}

@media (max-width: 1000px) {
  .projectDataContainerTop {
    flex-direction: column;
    align-items: center;
  }
  .projectDataContainerLeft {
    padding: 0px;
    width: 100%;
  }

  .projectDataContainerLeft h2 {
    max-width: 800px;
  }

  .projectDataContainerRight {
    width: 100%;
    padding: 30px 30px 0px 0px;
  }
}

@media (max-width: 700px) {
  .projectDataContainer {
    padding: 60px 30px 30px 30px;
  }

  .projectDataContainerRight p {
    font-size: 16px;
    line-height: 30px;
  }

  .projectDataContainerLeft h2 {
    font-size: 30px;
    line-height: 40px;
  }
  .projectDataImagesContainer {
    margin-top: 60px;
  }
  .projectDataImagesContainerImg {
    margin: 15px 0;
  }
}

@media (max-width: 500px) {
  .projectDataImagesContainerImg {
    margin: 10px 0;
  }
  .projectDataContainer {
    padding: 60px 15px 15px 15px;
  }
  .projectDataContainerRight p {
    font-size: 13px;
    line-height: 25px;
  }
  .projectDataImagesContainer {
    margin-top: 35px;
  }

  .projectDataContainerLeft h2 {
    font-size: 20px;
    line-height: 30px;
  }

  .projectDataContainerLeft p {
    font-size: 13px;
  }
}
