/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.socialLinksContainer {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 100px;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 1px solid rgba(77, 77, 77, 0.2);
  padding: 20px;
}

.socialLinksTitles {
  width: 49%;

  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 2px solid rgba(190, 190, 190, 0.5);
}
.socialLinksTitles h1 {
  font-family: "Helvetica Now Display DW", sans-serif;
  font-weight: 800;
  letter-spacing: -0.01em;
  color: #0f141e;
  font-size: 45px;
  line-height: 55px;
  padding-left: 30px;
}
.socialLinksTitles p {
  font-weight: 400;
  letter-spacing: 0.4em;
  font-size: 0.875rem;
  color: #878a8f;
  line-height: 1.25rem;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
}

.socialLinkItem {
  width: 49%;

  cursor: pointer;
  opacity: 1;
  position: relative;

  -webkit-transition: all 0.3s ease-out;

  -o-transition: all 0.3s ease-out;

  transition: all 0.3s ease-out;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.socialLinkItem:nth-child(1),
.socialLinkItem:nth-child(2),
.socialLinkItem:nth-child(3),
.socialLinkItem:nth-child(4) {
  margin-bottom: 20px;
}
.socialLinkItem h2 {
  font-family: "Helvetica Now Display DW", sans-serif;
  font-weight: bold;
  letter-spacing: -0.01em;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  z-index: 1;
  color: white;
  position: absolute;
  top: 10px;
  left: 50%;
  width: 30%;

  -webkit-transform: translateX(-50%);

  -ms-transform: translateX(-50%);

  transform: translateX(-50%);
}

.socialLinkItem p {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  color: white;
}

.socialLinkItem img {
  width: 100%;
  height: auto;
}

.socialLinkItem:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
  opacity: 0.9;
}

/* Responsive */

@media (max-width: 1000px) {
  .socialLinksTitles h1 {
    font-size: 30px;
    line-height: 40px;
  }
}

@media (max-width: 800px) {
  .socialLinksContainer {
    width: 95%;
  }
}
@media (max-width: 650px) {
  .socialLinksContainer {
    margin-top: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .socialLinkItem {
    width: 100%;
  }
  .socialLinksTitles {
    width: 100%;
  }
  .socialLinksTitles h1,
  .socialLinksTitles p {
    padding-left: 10px;
  }

  .socialLinkItem:nth-child(5) {
    margin-bottom: 20px;
  }
}

@media (max-width: 500px) {
  .socialLinksTitles h1 {
    font-size: 25px;
    line-height: 35px;
  }
}

@media (max-width: 400px) {
  .socialLinksTitles h1 {
    font-size: 23px;
    line-height: 33px;
  }
}
