.Notification {
  color: white;
  padding: 20px;
  font-weight: bold;
  font-size: 18px;
  border-radius: 7px;
  background-color: #240370;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  animation: notification 7s forwards;
}

@keyframes notification {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  75% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
