/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.scrollToTopButton {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(77, 77, 77, 0.5);
  position: fixed;
  right: 2rem;
  bottom: 1rem;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  z-index: 9999;
}
.visibleButton {
  opacity: 0.9;
  visibility: visible;
}

.scrollToTopButton svg {
  color: white;
  font-size: 35px;
}

/* responsive */

@media (max-width: 600px) {
  .scrollToTopButton {
    width: 45px;
    height: 45px;
  }
  .scrollToTopButton svg {
    font-size: 30px;
  }
}
@media (max-width: 500px) {
  .scrollToTopButton {
    width: 35px;
    height: 35px;
  }
  .scrollToTopButton svg {
    font-size: 25px;
  }
}
